.fixedButton {
    position: fixed;
    bottom: 2em;
    right: 2em;
}
.main {
    background-color: #15202b;
}

.border {
    border: 1px solid #38444d;
    padding: 0;
}

.leftside {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}
